/* # Generals */

header {
    height: 100px;
    background-color: #2C3E50;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

/* # Utilities */

.bg-green {
    background-color: #1ABC9C;
}

.h-500 {
    height: 500px;
}

.h-300 {
    height: 300px;
}

.h-200 {
    height: 200px;
}

.bd-blue {
    border: 5px solid dodgerblue;
}