/* # Generals */

header {
    height: 100px;
    background-color: #2C3E50;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
}

figure {
    margin: 0;
}

/* # Utilities */

.bg-green {
    background-color: #1ABC9C;
}

.h-500 {
    height: 500px;
}

.col {
    border: 1px solid dodgerblue;
}